body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  min-height: 100vh;
  background:
    linear-gradient(
      to bottom,
      #000000,
      #050505,
      #0a0a0a
    );

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;
}

.title {

  color: white;

  font-size: 64px;

  margin-bottom: 30px;

  text-shadow:
    0 0 10px red,
    0 0 20px red;
}

.dropdown {

  padding: 12px 18px;

  margin: 10px;

  font-size: 18px;

  border-radius: 12px;

  border: 2px solid red;

  background: #111;

  color: white;

  transition: 0.3s;
}

.dropdown:hover {

  box-shadow: 0 0 15px red;
}

.predict-btn {

  margin-top: 20px;

  padding: 15px 35px;

  background:
    linear-gradient(
      to right,
      red,
      darkred
    );

  color: white;

  border: none;

  border-radius: 12px;

  font-size: 22px;

  cursor: pointer;

  transition: 0.3s;
}

.predict-btn:hover {

  transform: scale(1.05);

  box-shadow:
    0 0 20px red;
}

.probability {

  color: yellow;

  font-size: 42px;

  margin-top: 30px;

  text-shadow:
    0 0 10px yellow;
}

.cards-container {

  display: flex;

  flex-direction: column;

  gap: 25px;

  margin-top: 30px;
}

@media screen and (max-width: 600px) {

  .title {

    font-size: 42px;

    text-align: center;
  }

  .probability {

    font-size: 28px;
  }

}